*, html, body {
    margin: 0;
    padding: 0;
 }
/* Style the tab buttons */
.tablink {
    background-color: rgb(85, 85, 85);
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }
  
  /* Change background color of buttons on hover */
  .tablink:hover {
    background-color: #7777;
  }
  
  /* Set default styles for tab content */
  .tabcontent {
    color: white;
    display: none;
    padding:0;
    text-align: center;
    
  }

  
img{
    max-width: 250px;
    max-height: 550px;
    display: block;
    margin-left: 65%;
    margin-right: 29% ;
   
}

h1{
    margin: 0;
    position: absolute;
    top: 3%;
    left: 40%;
    margin-right: -50%;
}




h3{
    margin: 0;
    position: absolute;
    top: 2%;
    left: 88%;
    color: rgb(134, 130, 130);
    

  }

 
p{
    margin: 0;
    position: absolute;
    top: 5%;
    left: 87%;
    font-style: initial ;
    color: rgb(110, 108, 108);
    text-align: right;
  }

  text{
    font-size: 16px;
    font-family: Open Sans, sans-serif;
  }
  text.title{
    font-size: 24px;
    font-weight: 1000;
  }
    text.subTitle{
      font-weight: 500;
      fill: #777777;
    }
    text.caption{
      font-weight: 400;
      font-size: 14px;
      fill: #777777;
    }
    text.label{
      font-weight: 600;
    }
  
    text.valueLabel{
     font-weight: 300;
    }
  
    text.yearText{
      font-size: 64px;
      font-weight: 700;
      opacity: 0.25;
    }
    .tick text {
      fill: #777777;
    }
    .xAxis .tick:nth-child(2) text {
      text-anchor: start;
    }
    .tick line {
      shape-rendering: CrispEdges;
      stroke: #dddddd;
    }
    .tick line.origin{
      stroke: #aaaaaa;
    }
    path.domain{
      display: none;
    }


